#wrap{
    max-width: 1980px;
    overflow: auto;
    background-image: linear-gradient(to top, #00043E , #0062FF);
}
@media only screen and (max-width: 600px) {
  #wrap {
    
  }
}
#header{
    max-width: 1980px;
    align-items: center;
    height: 128px;
    display: flex;
    justify-content: space-between;
    background-color:#010744;
}
#Logo{
    border-radius: 50%;
    margin-left: 15px;    
}
#header li{
    float: left;
    list-style: none;
    color: aliceblue;
    font-size: 24px;
}
#headerkanan ul {
    display: flex;
    }
    #headerkanan ul li {
        margin: 0px 20px;
    }
    #headerkanan ul li a{
        color: aliceblue;
        text-decoration: none;
    }
    #headerleft {
    display: flex;
    align-items: center;
    }
#projects{
    display: flex;
    justify-content: center;
    color: white;
    font-size: 30px;
}
#contoh{
    display: flex;
    float: none;
    justify-content: center;
    flex-wrap: wrap;
    gap: 60px;
    padding-bottom: 60px;
}
#contoh #gameday{
    width: 381px;
    height: 476px;
    border-radius: 15px;
    box-shadow: rgb(255, 255, 255) 4px 4px 4px 4px;
}
#contoh #Kerlan{
    width: 381px;
    height: 476px;
    border-radius: 15px;
    box-shadow: rgb(255, 255, 255) 4px 4px 4px 4px;
}
#contoh #logo{
    width: 381px;
    height: 476px;
    border-radius: 15px;
    box-shadow: rgb(255, 255, 255) 4px 4px 4px 4px;
}
#contoh #Hyacine{
    width: 820px;
    height: 312px;
    border-radius: 15px;
    box-shadow: rgb(255, 255, 255) 4px 4px 4px 4px;
}
